.tituloN{
    color: black;
}

.ingresar{
  background-color: #dec285;
  border: #eeba4a;
  width: 20em;
  height: 3em;
}

a.menu{
	display: inline-block;
	padding: 0.5em;
}
a.menu_inhab{
	display: none;
}

.select{
    background-color: #efc76f;
    border: #e4a111;
}

table{
	border-collapse: collapse; /*no aparezcan los bordes*/
	width: 100%;
}
td, th {
  border: 0.02em solid rgb(119, 64, 9);
  padding: 0.5em;
}
th {
  text-align: center;
  background-color: #e4a111;
}
tr:nth-child(even){/*el color del fondo de renglones impares*/
	background-color: #f7dca6;
}

/* ANIMACION VISTA EN CLASE*/
.paraTraslado{
	padding: 2rem;
	
    animation-name: mueve;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-direction: alternate; /* reverse, alternate*/
}

@keyframes mueve {
    25% {transform: translate(8rem,0rem);}
    50%  {transform: translate(8rem,8rem);}
    75% {transform: translate(0rem,8rem);}
    100% {transform: translate(0rem,0rem);}
}


/* ANIMACION EXTRA*/
.containerAnimacion{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 5em;
  height: 4em;
  background: #ac6208;
  box-sizing: border-box;
  border-radius: 1em;
  border: 4px solid #d4ccc0;
  padding: 5px;
  box-shadow: 0px 0px 15px #7f441f;
}

.boton{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e46116;
  border-radius: 25px;
  transition: all 1s;

}

.like{
  color: rgb(0, 0, 0);
  position: absolute;
  left: 70%;
  transform: translate(-50%,-50%);
  font-size: 1.5em;
  width: 100%;
  margin: auto;
  transition: all 1s;
  opacity: 0;

}

t{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right:0 ;
  color: #fdcb68;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;

}

.boton:hover {
  width: 15em;
  cursor: pointer;


}


.boton:hover t{
  transform: rotate(360deg);

}

.boton:hover h1{
animation: 2s display forwards;
}

@keyframes display{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
.forIng{
    border-style: inset;
    border-color: #f48609;
    border-width: 10px;
    height: 25em;
    width: 95%;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(35, 34, 34);
}

@media only screen and (max-width: 680px) {
  
  .forIng{
  width:100%;

  }
}