<!--
Archivo:  catalogo.html
Objetivo: consulta filtrada del catálogo 
Autor:    Pasteles
-->
<div ng-if="bProcesando">
	Cargando datos...
</div>
<div class="forIng">
	<div ng-show="bConsulta">
		<header>
			<h3 class="text-primary font-secondary">Cat&aacute;logo de Productos</h3>
		</header>
		<div layout="column">
			<md-content layout-padding>
				<form ng-submit="buscaProductos()">

					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Linea</label>
							<md-select id="cmbLinea" required ng-model="cmbLinea" aria-label="Linea prod">
								<md-option value="">Seleccione</md-option>
								<md-option value="0">Todos</md-option>
								<md-option value="1">Pasteles</md-option>
								<md-option value="2">Galletas</md-option>
								<md-option value="3">Gelatinas</md-option>
								<md-option value="4">Panquesitos</md-option>
							</md-select>
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Espacio entre controles -->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Tipo</label>
							<md-select id="cmbTipo" ng-model="cmbTipo" aria-label="Linea prod">
								<md-option value="">Seleccione</md-option>
								<md-option value="1">Normal</md-option>
								<md-option value="2">Dietético</md-option>
								<md-option value="3">Diabético</md-option>
								<md-option value="4">Vegano</md-option>
							</md-select>
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Espacio entre controles -->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<md-button class="md-raised md-primary" type="submit">Buscar</md-button>
						</md-input-container>
					</div>
				</form>
			</md-content>
		</div>

		<div id="espacio" ng-if="bTablaAreaLlena" ng-cloak>
			<table id="tblProductos">
				<thead>
					<tr>
						<th>Clave</th>
						<th>Nombre</th>
						<th>Linea</th>
						<th>Tipo</th>
						<th>Descipci&oacute;n</th>
						<th>Sabor</th>
						<th>Imagen</th>
						<th ng-if="bFirmado">Precio</th>
						<th ng-if="bEditable">Operaci&oacute;n</th>
					</tr>
				</thead>
				<tbody id="tbDatosProductos">
					<tr ng-repeat="productos in arrProductos">
						<td>{{productos.clave}}</td>
						<td>{{productos.nombre}}</td>
						<td>{{productos.linea}}</td>
						<td>{{productos.tipo}}</td>
						<td>{{productos.descripcion}}</td>
						<td>{{productos.sabor}}</td>
						<td><img alt="Img Prod" src="img/{{productos.imagen}}" /></td>
						<td ng-if="bFirmado">{{productos.precio}}</td>
						<td ng-if="bEditable">
							<md-button class="md-raised md-accent" type="button" ng-if="productos.activo"
								ng-click="mostrarEdicion('m',productos.clave)">
								Modificar
							</md-button>
							<md-button class="md-raised md-accent" type="button" ng-if="productos.activo"
								ng-click="mostrarEdicion('b',productos.clave)">
								Eliminar
							</md-button>
						</td>
					</tr>
				</tbody>
			</table>
			<md-button class="md-raised md-accent" type="button" ng-if="bEditable" ng-click="mostrarEdicion('a',-1)">
				Crear
			</md-button>
		</div>
	</div>


	<div ng-show="!bConsulta" layout="column">
		<md-content layout-padding>
			<header>
				<h3>{{sTitOpe}}</h3>
			</header>
			<form ng-submit="guardarProductos()" name="frmEditaProductos">
				<input type="hidden" id="txtCve" ng-model="productos.cve" />
				<input type="hidden" id="txtOpe" ng-model="sOpe" />
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label for="txtNom">Nombre</label>
						<input type="text" id="txtNom" required ng-model="productos.nombre"
							ng-readonly="bDatosSoloLectura" />
					</md-input-container>

					<div flex="5" hide-xs hide-sm>
						<!-- Espacio entre controles -->
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label for="cmbLineaD" id="cmbLineaD">{{cmbLineaD}}</label>
						<md-select id="cmbLineaD" required aria-label="cmbLineaD" ng-model="productos.cmbLineaD"
							ng-readonly="bDatosSoloLectura">
							<md-option value="1">Pasteles</md-option>
							<md-option value="2">Galletas</md-option>
							<md-option value="3">Gelatinas</md-option>
							<md-option value="4">Panquesitos</md-option>
						</md-select>
					</md-input-container>

					<div flex="5" hide-xs hide-sm>
						<!-- Espacio entre controles -->
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label for="cmbTipoD" id="cmbTipoD">{{cmbTipoD}}</label>
						<md-select id="cmbTipoD" required aria-label="cmbTipoD" ng-model="productos.cmbTipoD"
							ng-readonly="bDatosSoloLectura">
							<md-option value="1">Normal</md-option>
							<md-option value="2">Dietético</md-option>
							<md-option value="3">Diabético</md-option>
							<md-option value="4">Vegano</md-option>
						</md-select>
					</md-input-container>
				</div>

				<div layout-gt-sm="row">

					<md-input-container class="md-block" flex-gt-sm>
						<label for="txtDescripcion">Descripcion</label>
						<textarea id="txtDescripcion" required ng-model="productos.txtDescripcion"
							ng-readonly="bDatosSoloLectura"></textarea>
					</md-input-container>

					<div flex="5" hide-xs hide-sm>
						<!-- Espacio entre controles -->
					</div>


					<md-input-container class="md-block" flex-gt-sm>
						<label for="txtSabor">Sabor</label>
						<input type="text" id="txtSabor" required ng-model="productos.txtSabor"
							ng-readonly="bDatosSoloLectura" />
					</md-input-container>

					<div flex="5" hide-xs hide-sm>
						<!-- Espacio entre controles -->
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label for="txtImg">Imagen</label>
						<input type="file" id="txtImg" required ng-model="productos.txtImg"
							accept="image/jpg, image/png, image/jpeg" ng-readonly="bDatosSoloLectura" />
					</md-input-container>

					<div flex="5" hide-xs hide-sm>
						<!-- Espacio entre controles -->
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label for="txtPrecio">Precio</label>
						<input type="number" id="txtPrecio" required ng-model="productos.precio" min="1"
							ng-readonly="bDatosSoloLectura" />
					</md-input-container>

				</div>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<md-button class="md-raised md-primary" type="submit">
							Guardar
						</md-button>
						<md-button class="md-raised md-accent" type="button" ng-click="cancelarEdicion()">
							Cancelar
						</md-button>
					</md-input-container>
				</div>
			</form>
		</md-content>
	</div>
</div>